<!DOCTYPE html>
<html>
	{% load static %}

	{% block header %}
		<head>
			<meta charset="utf-8">
			<title>
				{% block title %}
					{{ title|title }}
				{% endblock %}
			</title>
			{% block css %}
				<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
				<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
				<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
			{% endblock %}

			{% block js %}
			<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js"></script>
			{% endblock %}
		</head>
	{% endblock %}

    <body>
        <div class="container">
            {% block content %}

                    {% block main-menu %}
                        {% include 'includes/inc-main-menu.html' %}
                    {% endblock main-menu %}

            {% endblock content %}
        </div>

        {% block footer %}
            {% include 'includes/inc-footer.html' %}
        {% endblock footer %}

    </body>
</html>
