{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
		{% block main-menu %}
			{{ block.super }}
		{% endblock main-menu %}



		<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
			  <div class="text-slider">
				  <h3 class="green">тенденции</h3>
				 <h3 class="big"> удобные стулья</h3>
				 <p>Новый уровень комфорта. Отличные характеристики.</p>
				  <a href="#" class="button-order">заказать <img src="{% static 'img/arrow.png' %}" alt=""></a>
			  </div>
			  <div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
<!--				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
			  </div>
			  <div class="carousel-inner">
				<div class="carousel-item active">
				  <img src="{% static 'img/slider.jpg' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
				  <img src="{% static 'img/slider-hotdeal.jpg' %}" class="d-block w-100" alt="...">
				</div>
<!--				<div class="carousel-item">-->
<!--				  <img src="{% static 'img/slider-2.jpg' %}" class="d-block w-100" alt="hello_world">-->
<!--				</div>-->
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			  </button>
		</div>

		<div class="featured">
			<div class="featured-menu">
					<a class="active" href="#">Популярные</a><a href="#">Новинки</a>
			</div>
			<a class="explore" href="{% url 'products:category' 0 %}">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
			<div class="clearfix">
			</div>
			<div class="tab-content">

				{% for product in products %}
					<div class="block">
						<a href="{% url 'products:product' product.pk %}">
							<img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
							<div class="text">
								<h3> {{ product.category.name }} </h3>
								<h4>{{ product.name }}</h4>
								<p>{{ product.description }} </p>
							</div>
						</a>
					</div>
				{% endfor %}

			</div>
		</div>

		<div class="clr"></div>

{% endblock content %}
