<!DOCTYPE html>
{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
		<div class="hero-white">
			{% block main-menu %}
				{{ block.super }}
			{% endblock main-menu %}
		</div>

		<div class="details">
			<div class="links clearfix">
				{% include 'includes/inc-categories-menu.html' %}
			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<!-- <img src="{% static 'img/slider1.jpg' %}"> -->
						<img src="/media/{{ hot_products.image }}" alt="hot_product.image">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href ="#">
								<img class="mw100" src="/media/{{ hot_products.image }}" alt="mini">
							</a>
						</div>
						<div class="block">
							<a href ="#">
								<img class="mw100" src="/media/{{ hot_products.image }}" alt="mini">
							</a>
						</div>
						<div class="block">
							<a href ="#">
								<img class="mw100" src="/media/{{ hot_products.image }}" alt="mini">
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ hot_products.name }}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price"> {{ hot_products.price }} <span>руб</span></p>
					<a href="{% url 'basket:add' hot_products.pk %}" class="red-button">
						в корзину <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{{ hot_products.description }}</p>
					</div>
				</div>
			</div>

			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
				</div>
				<div class="related-products clearfix">
					{% for product in products %}
						<div class="block">
							<a href="{% url 'products:product' product.pk %}" >
								<img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
								<div class="text">
									<h3>{{ product.category.name }}</h3>
									<h4>{{ product.name }}</h4>
									<p>{{ product.description }}</p>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="clr"></div>

{% endblock content %}