{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    {% block main-menu %}
        {{ block.super }}
    {% endblock main-menu %}

    <div class="details">
        <div class="links clearfix">
            {% include 'includes/inc-categories-menu.html' %}
        </div>
        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                </div>
            </div>
            <div class="description">
                <h3 class="'big-bold">{{ product.name|upper }}</h3>
                <h4 class="bold">количество на складе: {{ product.quantity }} <span>шт.</span></h4>
                <h4 class="bold">цена:</h4>
                <br>
                <p class="price">{{ product.price }} <span>руб</span></p>
                <br>

                <a href="{% url 'basket:add' product.pk %}" class="red-button">
                    заказать
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    {{ product.description }}
                </div>
            </div>
      </div>
    </div>
    <div class="clr"></div>
{% endblock content %}
