{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="head_space_15">
        <label
                for="category_delete"
                class="big-bold"
        >
            Подтвердите удаление категории
        </label>
        <div class="">
            {% if category_to_delete.name %}
                <strong>
                   {{ category_to_delete.name|title }}
                </strong>
            {% endif %}
            <br>
            {% if category_to_delete.description %}
                {{ category_to_delete.description }}
            {% endif %}
        </div>
        <br>
        <form
              id ="category_delete"
              action="{% url 'admin:category_delete' category_to_delete.pk %}"
              method="post"
        >
            {% csrf_token %}
            <input type="submit" class="btn btn-danger col-4" value="удалить">
        </form>
        <br>
        <button class="btn btn-success col-4">
            <a href="{% url 'admin:categories' %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock content %}
