{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="head_space"
        <div class="container">
            <label
                    for="product_update"
                    class="big-bold head_space"
            >
                Редактирование продукта
            </label>
            <form
                    id="product_update"
                    class="form-control"
                    method="post"
                    enctype="multipart/form-data"
            >
                {% csrf_token %}
                {{ update_form.as_p }}
                <input type="submit" class="btn btn-outline-success col-4" value="сохранить">
            </form>
            <br>
            <div class="flex_content">
                <button class="btn btn-outline-warning col-4">
                <a href="{% url 'admin:categories' %}">
                    к списку категорий
                </a>
            </button>
            </div>
            <hr>
        </div>
    </div>

{% endblock content %}