{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container head_space_15">
        <div class="row align-items-center">
            <div class="col">
                <img src="/media/{{ object.image|default:'products_images/default.jpg' }}"
                     alt="{{ object.name }}" class="medium_image">
            </div>
            <div class="col">
                <p><strong>Категория:</strong> {{ object.category.name|title }}</p>
                <p><strong>Наименование:</strong> {{ object.name|title }}</p>
                <p><strong>Цена:</strong> {{ object.price }}</p>
                <p><strong>Количество на складе:</strong> {{ object.quantity }}</p>
                <p><strong>В каталоге:</strong> {% if object.is_active %}да{% else %}нет{% endif %}</p>
                <p><strong>Краткое описание:</strong> {{ object.short_desc }}</p>
            </div>
            <div class="col">
                    <b>Подробная информация</b>
                    <p>{{ object.description }}</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-4"></div>

            <div class="col-6 flex_content">
                <button class="btn btn-outline-warning">
                    <a href="{% url 'admin:product_update' object.pk %}">
                        редактировать
                    </a>
                </button>
                <button class="btn btn-outline-danger">
                    <a href="{% url 'admin:product_delete' object.pk %}">
                        удалить
                    </a>
                </button>
                <button class="btn btn-outline-success">
                    <a href="{% url 'admin:products' object.category.pk %}">
                        назад
                    </a>
                </button>
            </div>

        </div>
    </div>
{% endblock content %}
