{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="head_space">
        <label for="user_editform" class="big-bold">
            <strong>
                Редактирование профиля пользователя
            </strong>
        </label>
        <form
                id="user_editform"
                class="form-control col-6 md-auto"
                method="post"
                enctype="multipart/form-data"
        >
            {% csrf_token %}
            {{ update_form.as_p }}
            <input
                    type="submit"
                    class="btn btn-outline-success"
                    value="сохранить"
            >
        </form>
        <br>
        <button class="btn btn-outline-warning">
            <a href="{% url 'admin:users' %}">
                к списку пользователей
            </a>
        </button>
        <hr>
    </div>
{% endblock content %}
