{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="head_space">
        <div id="users_list" class="container">
            <button class="btn btn-outline-success">
                <a href="{% url 'admin:user_create' %}">
                    новый пользователь
                </a>
            </button>
            <hr>
            <table class="table align-middle caption-top">
                <caption class="big-bold">
                    <strong>
                        Пользователи
                    </strong>
                </caption>
                <thead>
                    <tr class="table-success">
                        <th>ID</th>
                        <th>Аватар</th>
                        <th>Статус</th>
                        <th>Инфо</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.id }}</td>
                        <td>
                            <img
                                    class="avatar_size"
                                    src="/media/{{ object.avatar|default:'users_avatars/default.jpg' }}"
                                    alt="{{ object.username }}"
                            >
                        </td>
                        <td>
                            {% if object.is_superuser %}
                                Администратор
                            {% else %}
                                Пользователь
                            {% endif %}
                        </td>
                        <td>
                            <div class="user_name">
                                <p><strong>{{ object.username }}</strong></p>
                                <div>
                                    {% if object.first_name %}
                                        <p>{{ object.first_name|title }}</p>
                                        {% if object.last_name %}
                                            <p>{{ object.last_name|title }}</p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="user_age">
                            age: {{ object.age }} лет
                        </div>
                            <div class="user_email">
                            email: {{ object.email }}
                        </div>
                            <div class="user_lastlogin">
                            logged: {{ object.last_login }}
                        </div>
                        </td>
                        <td>
                            <button class="btn btn-outline-warning">
                                <a href="{% url 'admin:user_update' object.pk %}">
                                    редактировать
                                </a>
                            </button>
                            <button class="btn btn-outline-danger">
                                <a href="{% url 'admin:user_delete' object.pk %}">
                                    удалить
                                </a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <button class="btn btn-outline-warning">
                <a href="{% url 'main' %}">
                    на главную
                </a>
            </button>
        </div>
    </div>

{% endblock content %}
