{% extends 'authapp/base.html' %}
{% load static %}

{% block page_name %}
    <div class="h2 text-center head base_back">
        Вход в личный кабинет
    </div>
{% endblock page_name %}

{% block content %}
    <div class="flex_content head_space">
        <div class="col-8">
            <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                {{ login_form.as_p }}
                <br>
                <div class="flex_content">
                    <input class="btn btn-outline-success lg col-6" type="submit" value="войти">
                </div>
            </form>
            <br>
            <div class="flex_content">
                <button class="btn btn-outline-success col-3">
                    <a href="{% url 'auth:register' %}">
                        Зарегистрироваться
                    </a>
                </button>

                <button class="btn btn-outline-primary col-3">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
                        Вход через ВКонтакте
                    </a>
                </button>

                <button class="btn btn-outline-warning col-3">
                        <a href="{% url 'main' %}">
                            На главную
                        </a>
                    </button>
            </div>
        </div>
    </div>
{% endblock content %}
